/* Derek Stegelman */

body
{
    margin-top: 20px;
    font-family: "Merriweather";
    background: #efefef;
}

/* Logo */

.logo, .nav, h1, h2, h3, h4, h5, h6, .btn
{
    font-family: "Yanone Kaffeesatz",Helvetica,sans-serif;
    font-weight: 400;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
    color: #333333;
}

a:hover
{
    text-decoration: none;
}

.tag-line
{
    color: #666666;
}

/* Core */

.round-big
{
    border-radius: 5px;
}

.polaroid
{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.6);
    margin: 10px 12px 15px 12px;
    padding: 9px;
}

.polaroid p.caption
{
    margin-bottom: 0;
    margin-top: 12px;
    font-family: 'Handlee',cursive;
}

/* Navigation */

.nav
{
    font-size: 16px;
}

.nav .nav-header
{
    font-size: 16px;
    font-weight: 200;
}
/* Home Page */

.main-attraction
{
    margin-bottom: 12px;
}

article.post
{
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

article.post .date
{
    font-size: 10px;
}

article.post .row
{
    margin-top: 12px;
}

/* Map */

div#map
{
    width: 450px;
    height: 300px;
}