{% extends "blog/blog_base.html" %}



{% block main_content %}


        <article class="trip">

                    
                    <h1>{{ post.title }}</h1>
                    <h3>THe best trip we have ever taken.</h3>
                    <div class="well">
                        <p>{{ post.synopsis }}
                        </p>
                    </div>
                    
                    {% for image in post.images.all %}
                    <div class="polaroid pull-right">
                    {% load thumbnail %}
                    {% thumbnail image.image "450x300" as im %}
                        <img src="{{ im.url }}">
                        <p class="caption">{{ image.caption }}</p>
                        {% endthumbnail %}
                    </div>
                    {% endfor %}
                    {% autoescape off %}
                    {{ post.content }}
                    {% endautoescape %}
                    
            </article>
            <h3>Comments</h3>
            <div class="comments">
                <div class="comment even well">
                    <h5>Derek Stegelman</h5>
                    <p>You are cool man!</p>
                </div>
                <div class="comment odd">
                    <h5>Derek Stegelman</h5>
                    <p>You are cool man!</p>
                </div>
                <div class="comment even well">
                    <h5>Derek Stegelman</h5>
                    <p>You are cool man!</p>
                </div>
            </div>
            
            
            
            <form method="post" action="/comments/post/" class="well">
                <div style="display:none"><input type="hidden" value="Sin7Kg2DuOk2LHSiqZBiPWlkLAfFZ1ZI" name="csrfmiddlewaretoken"></div>
                <input type="hidden" id="id_content_type" value="photo_manager.photo" name="content_type">
                <input type="hidden" id="id_object_pk" value="4003" name="object_pk">
                
                <input type="hidden" id="id_timestamp" value="1337530768" name="timestamp">
                <input type="hidden" id="id_security_hash" value="c27b5657b429ef2490b603529e5eed6d9067ccdd" name="security_hash">
                <label>Name:</label>
                <input type="text" maxlength="50" name="name" id="id_name">
                <label>Email:</label>
                <input type="text" id="id_email" name="email">
                <label>URL:</label>
                <input type="text" id="id_url" name="url">
                <label>Comment</label>
                <textarea class="span11" name="comment"></textarea>
                <input type="hidden" name="next" value="/foto/4003/ada-rae/5638933022771jpg/">
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Post" name="submit">
                    <input type="submit" value="Preview" class="btn" name="preview">			  
                </div>
                </form>
{% endblock main_content %}