{% extends "blog/blog_base.html" %}



{% block main_content %}


        <article class="trip">

                    
                    <h1>{{ post.title }}</h1>
                    {% if post.tag_line %}
                    <h3>{{ post.tag_line }}</h3>
                    {% endif %}
                    <div class="well">
                        <p>
                        {% autoescape off %}
                        {{ post.synopsis }}
                        {% endautoescape %}
                        </p>
                    </div>
                    
                    {% for image in post.images.all %}
                    <div class="polaroid pull-right">
                    {% load thumbnail %}
                    {% thumbnail image.image "450x300" as im %}
                        <img src="{{ im.url }}">
                        <p class="caption">{{ image.caption }}</p>
                        {% endthumbnail %}
                    </div>
                    {% endfor %}
                    {% autoescape off %}
                    {% load inlines_tags %}
                    {{ post.content|render_inlines }}
                    
                    {% endautoescape %}
                    
            </article>

{% endblock main_content %}