{% extends "traveler/country_base.html" %}


{% block extra_body %}onLoad="initialize();"{% endblock %}
{% block main_content %}

        <article class="trip">

                    
                    <h1>{{ country.name }}</h1>
                    <h3>{{ country.get_continent_display }}</h3>
                    
                    <div class="pull-right">
                        <div class='polaroid'>
                            {% load country %}
                            {% get_country_map country 300 450 %}

                        </div>
                        {% if country.trip_set.all %}
                        <div class="side-note">
                        <h3>Trips To {{ country.name }}</h3>    
                        <ul>
                            {% for trip in country.trip_set.all %}
                            <li><a href="{{ trip.get_absolute_url }}">{{ trip.title }}</a></li>
                            {% endfor %}
                        </ul>
                        </div>
                        {% endif %}
                    </div>
                    {% autoescape off %}
                    {{ country.content }}
                    {% endautoescape %}
            </article>
{% endblock main_content %}